body {
  margin: 0;
  padding: 0;
  background: #d42d1b;
}
.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.toggle span {
  position: absolute;
  display: block;
  width: 50%;
  height: 6px;
  transition: 0.5s;
  background: #fff;
}
.toggle span:nth-child(even) {
  left: 50%;
}
.toggle span:nth-child(1),
.toggle span:nth-child(2) {
  top: 0;
}
.toggle span:nth-child(3),
.toggle span:nth-child(4) {
  top: 15px;
}
.toggle span:nth-child(5),
.toggle span:nth-child(6) {
  top: 30px;
}
.toggle.active span:nth-child(3) {
  transform: translateX(-50px);
  opacity: 0;
}
.toggle.active span:nth-child(4) {
  transform: translateX(50px);
  opacity: 0;
}
.toggle span:nth-child(1) {
  transform-origin: top left;
}
.toggle span:nth-child(2) {
  transform-origin: top right;
}
.toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 1px;
  left: 7px;
}
.toggle.active span:nth-child(2) {
  transform: rotate(-45deg);
  top: 1px;
  left: calc(50% - 7px);
}
.toggle span:nth-child(5) {
  transform-origin: bottom left;
}
.toggle span:nth-child(6) {
  transform-origin: bottom right;
}
.toggle.active span:nth-child(5) {
  transform: rotate(-45deg);
  bottom: 1px;
  left: 7px;
}
.toggle.active span:nth-child(6) {
  transform: rotate(45deg);
  bottom: 1px;
  left: calc(50% - 7px);
}
