h1 {
  text-align: center;
  text-transform: uppercase;
  color: #232d5e;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(69, 59, 116, 1) 0%,
    rgba(123, 91, 162, 1) 100%
  );
}
